@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "SF Mono", monospace;
}

.marquee-text {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #444545;
}
